* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;

  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsla(var(--base-color), 100%, 63%);

  --text-color: #ffff;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;

  display: grid;
  min-height: 100vh;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

#timer {
  font-size: 8.8rem;
  display: flex;
  margin-bottom: 1.6rem;
}

.play img,
.pause img,
.sound-on img {
  fill: var(--primary-color);
}

button img {
  width: 6.4rem;
  height: 5.7rem;
}

main {
  align-self: flex-end;
  justify-self: center;
}

#controls {
  background-color: var(--bg-primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

  border-radius: 999px;

  width: 22.8rem;
  height: 10.8rem;
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 3.2rem 0;
}
